*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    text-align: center;
    background-color: #ffcc00;
    height: 160px;
}

#header-title{
    font-size: 46px;
    margin-bottom: 25px;
    padding-top: 20px;
}

#add-new-todo, #edit-old-todo ,#delete-old-todo, #clear-todo{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

#add-new-todo:hover, #edit-old-todo:hover, #delete-old-todo:hover, #clear-todo:hover{
    cursor: pointer;  
    background-color: black;
    color: white;
    border-color: white;
    border-width: 4px;
}

/* Section to add new todo  */
#add-section{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border: solid;
    padding: 20px;
    margin: 2% 25%;
}

#add-section>div{
    margin: 20px;
    text-align: center;
}

#importance{
    width: 150px;
}

#add-todo{
    width: 300px;
    height: 50px;
    background-color: #ffcc00;
    font-weight: bold;
    border-radius: 10px;
}

#add-todo:hover{
    background-color: #ffcc00ae;
    cursor: pointer;
    border-width: 4px;
}

#add-todo:active{
    background-color: #ffcc00;
}

/*Table*/
table{
    width: 100%;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}
th, td {
    background-color: #ffcc00;
}

/*Media Query*/
@media only screen and (max-width:1200px){
    #title, #description{
        width: 80%;
    }
}

@media only screen and (max-width:720px){
    #add-todo{
        width: 80%;
    }
}

@media only screen and (max-width:615px){
    #header>div{
        display: flex; 
    }
}

@media only screen and (max-width:500px){
    #header>div{
        display: flex;
        margin: 0% 25%;
        flex-direction: column;
        width: fit-content; 
    }
    #header{    
        height: 350px;
    }
    #add-section h2{
        font-size: 80%;
    }
    #importance{
        width: 60%;
    }
}